#titulo{

color: #FFFFFF;
font-size: x-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.barra{

background-color: #669FE7;

}


body{

background-color:#EBEFF4; 


}


#formulario{

    position: absolute;
    width: 359px;
    height: 390px;
    left:50%;
	top:35%;
	margin-left:-180px;
	margin-top:-80px;
    border-radius:5px;
    background-color:
    white;
    


}
#formulario_login{

z-index: 2;
position: relative;
margin-top: 54%;
margin-left: 15px;
margin-right: 15px;




}
#logo{

z-index: 1;
position: absolute;
width:35%;
height:35%;
margin-top: 6%;
margin-left: 32%;


}

#entrar{

width: 328px;


}

#InputEmail1{

font-family:Time;

}
