#titulo{

color: #FFFFFF;
font-size: x-large;
font-family: Didot;
font-size: 30px;

}
.barra{

background-color: #669FE7;

}


body{


   margin-top: 80px;

}


.bmenu{

margin-top: 2px;
width: 190px;
color: #E59100;
font-family: Helveltica;


}

h6{

font-family: Helveltica;
color: white;

}

/*

td,th{

border-style: solid;
border-color: black;
border-width: 1px;

}

*/
.tabelas{

margin-top: 7%;



}

.modalTitulo{


background-color: #FF8C00;
color: white;



}
.modalTituloGerenteEditar{

background-color: #00C2C0;
color: white;

}

.modalTituloFuncionario{

background-color: #3CB371;
color: white;



}

.modalTituloProduto{

background-color: #FF7200;
color: white;


}

.modalTituloEditarFuncionario{

background-color: #40E0D0;
color:white;



}

.modalTituloGerente{


background-color: #4A46FF;


}

.modalTituloProdutoRetirar{

background-color: #EEEEEE;

}

.modalp_txt_retirar{

font-size: 20px;
margin-left:1%;
margin-top: 4%;
font-family: Helvetica;


}

.modal_txt{

font-size: 20px;
margin-left:25%;
margin-top: 4%;
font-family: Helvetica;


}

.modalf_txt{

font-size: 20px;
margin-left:2%;
margin-top: 4%;
font-family: Helvetica;


}
.modalg_txt{

font-size: 20px;
margin-left:2%;
margin-top: 4%;
font-family: Helvetica;
color: white;

}

.modalp_txt{


font-size: 20px;
margin-left:2%;
margin-top: 4%;
font-family: Helvetica;
color: white;



}

#bt_senha{

width: 30%;
margin-left: 70%;


}
#bt_funcionario{

width: 37%;
margin-left: 0%;

}

.check_bt{

background-color: #669FE7;
font-size: 20px;
color: white;
height: 35px;
top: 10%;
font-family:Times;


}

#btn_acoes{

top: 15%;
background-color: #669FE7 ;
height: 8%;

}



th{

background-color: #F6B300;
color: white;

}

td{


font-family: Arial;
border-style: solid;
border-color: white;
border-bottom: 2px;



}

